sudo: false
before_script:
- curl -LSfs https://raw.githubusercontent.com/crate-ci/gh-install/master/v1/install.sh
  | sh -s -- --git cobalt-org/cobalt.rs --crate cobalt --force --target x86_64-unknown-linux-gnu
  --tag v0.19.0
- export PATH="$PATH:~/.cargo/bin"
script:
- cobalt build
deploy:
  provider: pages
  skip_cleanup: true
  github_token: "$GH_TOKEN"
  local_dir: _site
  target_branch: master
  on:
    branch: source
env:
  global:
    secure: pkOQz2IhRtgogaOI09OKGY3E0z398xObYbqJAUZcVGh8Mo9Lr96HKJFove0dKiFaOIdYqmPilmINa8ZxKzJlb3//a3NyaUmtZrWLQM4vTmX8EP7YWcKdXnMtKW/56qG7PvaicBOHE2kA1IqgDiYlQQ/FZWnu3qLda8q+4BC1COV6V2elCK0ZHIuzyQzahbIgYJ+04WnaQ4XUszIZKXJbTsblVl24be4bbSmyRdgTniS7SWg3YlFRFL4I8+bTiEY53YQkaGu+1XXSDxM1/d9eI/iw+c36jo/MWrymqHxOF9n/7sc9D0+6CY7eE9iOACGU6h4+HNnzsDe9+MnsoolERjXGAPvD/cNvMzM6phf8mQck8XJE3T5lLZxwY7byV+tTDdDr7JhaCZoVf7PhseWvRhruxY/v5rlj9I6yZ1EOtm5DlFwqAvO5EeeTlpvua/ldbXXomf0D3xPnplbl72aWxrK1rJOuYBnhHrwfS+eCqrbLQ+RUMe8Kyebq62ZcfxeGmOPVUd6JdjELI8Ul2mHuU5Txkz91ZKPhJYmp0ogC88mpSkljCNLCf4wqIVDzNGkV3CCf92OH48qLuZlViYmmPqyz5MEmZAkAjjJlLnft1ukqYvXZIr3SMW1Y3iAbYFVoh0CuOHeCcSUNwYhPVOniuTl+aHmQ4hI954Hye7j+jss=
